Repository manuel-bieh/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ext js,jsx,ts,tsx, leasot -x, stylelint --fix

re-add grid and form, upgrade to storybook 5.2
  .eslintrc.js
  .lintstagedrc
  .storybook/config.js
  .storybook/decorators.js
  .storybook/hierarchyGroups.js
  .storybook/stories/intro.js
  config/plop/component/Component.module.css.plop
  config/plop/component/Component.stories.js.plop
  config/plop/component/index.tsx.plop
  package.json
  plopfile.js
  src/Form/Form-copy.tsx
  src/Form/Form.stories.js/AsyncValidation.tsx
  src/Form/Form.stories.js/CheckboxTypes.tsx
  src/Form/Form.stories.js/OnMountAndUnmount.tsx
  src/Form/Form.stories.js/Simple.tsx
  src/Form/Form.stories.js/Submission.tsx
  src/Form/Form.stories.js/helpers.tsx
  src/Form/Form.stories.js/index.js
  src/Form/Form2.stories.tsx
  src/Form/types.ts
  src/Grid/Grid.tsx
  src/Grid2/Column.tsx
  src/Grid2/Grid.module.css
  src/Grid2/Grid.stories.js
  src/Grid2/Grid.tsx
  src/Grid2/index.ts
  src/assets/img/tech/eslint.svg
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, leasot -x, stylelint --fix

upgrade to storybook 5.2 and Component Story Format
  .storybook/config.js
  .storybook/stories/intro.js
  package.json
  src/ClientLogos/ClientLogos.stories.js
  src/Footer/Footer.stories.js
  src/Grid/Grid.stories.js
  src/Grid2/Grid.stories.js
  src/Header/Header.stories.js
  src/SocialMediaIcons/SocialMediaIcons.stories.js
  src/TechLogos/TechLogos.stories.js
  src/index.stories.js
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, leasot -x

add bug comments
  src/Footer/Footer.stories.js
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, leasot -x

update deps
  package.json
  src/Footer/Footer.stories.js
  src/fonts.css
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, leasot -x, stylelint --fix

Update npmpublish.yml
  .github/workflows/npmpublish.yml
Due: none

Delete npmpublish.yml
  .github/workflows/npmpublish.yml
Due: none

add more client logos
  src/ClientLogos/logos.ts
  src/assets/img/clients/gls.svg
  src/assets/img/clients/osram.svg
  src/assets/img/clients/rocket-internet.svg
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, leasot -x

2.2.2
  package.json
Due: none

2.2.3
  package.json
Due: none

release: 2.3.0 - 2020-02-04T21:03:13.346Z [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4de1910169ab6fca2f4edae4683d924ea901a2e5
Due: none

fix: fix broken copy param in npm build script
  package.json
  yarn.lock
Due: none

chore: update node image for ci/cd
  .circleci/config.yml
Due: none

release: 2.3.1 - 2020-04-01T15:44:38.469Z [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3d104964ad417d69ca8846e7220d0adcdda69130
Due: none

chore: some mostly small cleanups
  .babelrc
  config/webpack.config.js/loaders.js
  package.json
  src/ClientLogos/logos.ts
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, leasot -x

chore: add missing files
  babel.config.js
  src/assets/img/clients/boerse-stuttgart.svg
  src/assets/img/clients/osram2.svg
Due: none

release: 2.3.2 - 2020-10-06T16:14:11.419Z [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  da07c8a18e995911c3f94dff6d9e5603b1b492c8
Due: none

chore: harmonize client logos
  src/assets/img/clients/boerse-stuttgart.svg
  src/assets/img/clients/wiwo.svg
Due: none

release: 2.3.3 - 2020-10-06T16:40:49.756Z [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  176a96c433dd9189b5b7aff844dac5e1dbe852c7
Due: none

fix: change casing for font file names
  src/fonts.css
Due: prettier --write, stylelint --fix

release: 2.3.4 - 2020-10-06T17:35:46.067Z [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c6e14c35c462e1a422caba250fbc571e84fc1441
Due: none

chore: add gymondo client logo
  src/assets/img/clients/gymondo.svg
Due: none

Notes added by 'git notes add'
  aca126bea28a316fb8bf886c0d6004e920f68f87
Due: none

release: 2.3.5 - 2021-12-02T17:49:37.139Z [skip ci]
  CHANGELOG.md
  package.json
Due: none

chore: update tech and client logos
  .nvmrc
  package.json
  src/ClientLogos/logos.ts
  src/TechLogos/logos.ts
  src/assets/img/clients/bsdex.svg
  src/assets/img/clients/volksbank.svg
  src/assets/img/clients/vr-smart-finanz.svg
  src/assets/img/tech/auth0-icon.svg
  src/assets/img/tech/babel.svg
  src/assets/img/tech/circleci.svg
  src/assets/img/tech/css-3.svg
  src/assets/img/tech/deno.svg
  src/assets/img/tech/esbuild.svg
  src/assets/img/tech/expo.svg
  src/assets/img/tech/gitlab.svg
  src/assets/img/tech/grunt.svg
  src/assets/img/tech/gulp.svg
  src/assets/img/tech/html-5.svg
  src/assets/img/tech/javascript.svg
  src/assets/img/tech/jest.svg
  src/assets/img/tech/microsoft-edge.svg
  src/assets/img/tech/nextjs.svg
  src/assets/img/tech/nodejs.svg
  src/assets/img/tech/npm.svg
  src/assets/img/tech/pm2.svg
  src/assets/img/tech/react-query-icon.svg
  src/assets/img/tech/react.svg
  src/assets/img/tech/redux.svg
  src/assets/img/tech/sass.svg
  src/assets/img/tech/storybook-icon.svg
  src/assets/img/tech/supabase-icon.svg
  src/assets/img/tech/vitejs.svg
  src/assets/img/tech/webpack.svg
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, leasot -x

release: 2.3.6 - 2024-01-18T18:28:42.137Z [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3ecedb7e60a098696077cc247db31e438f539588
Due: none

chore: add new fingerprint
  .circleci/config.yml
Due: none

release: 2.3.7 - 2024-01-19T01:43:37.852Z [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  45930f3932ac1abac06fc9554e03960d8c325621
Due: none

chore: try different github token
  .circleci/config.yml
Due: none

release: 2.3.8 - 2024-01-19T01:58:14.898Z [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0982eee3d67791458901d61cec6d0320aabb6f5a
Due: none

chore: update all deps except postcss, jan 28, 2024
  config/webpack.config.js/client.base.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, leasot -x

chore: add finstreet, eberleinkunz, sparknetworks as clients
  package.json
  scripts/build.js
  src/ClientLogos/logos.ts
  src/assets/img/clients/eberlein-kunz.svg
  src/assets/img/clients/finstreet.svg
  src/assets/img/clients/spark-networks.svg
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, leasot -x

Path conditions:
  prettier --write: any of: {src,config,scripts}/**/*.{js,jsx,ts,tsx,css}
  eslint --fix --ext js,jsx,ts,tsx: any of: {src,config,scripts}/**/*.{js,jsx,ts,tsx}
  leasot -x: any of: {src,config,scripts}/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
